/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Index */

nav {
    background-color: #dadada;
}

.navbar {
    border-radius: 0px;
}

a:active {
    background-color: #b1aeae;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link, .nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: #dadada;
    font-weight: 600;
}

.nav-link {
    margin-left: 5px;
    margin-right: 5px;
}

/* End of Index */

/* Contact Us */

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

input, select {
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

#form-padding {
    padding-left: 20%;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* End of Contact Us */

/* Login */

.dropdown-item.active {
    color: rgb(0, 0, 0);
    background-color: #dadada;
    font-weight: 600;
}

#center {
    padding-left: 80px;
    margin-left: 90px;
}

#myform {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* End of Login */

/* Sign up */

.nav-tabs .nav-link {
    width: 500px;
}

#sign-up-form {
    margin-top: 10px;
}

/* End of Sign up */